.html, .body{
	font-family: 'Jaro';
  background-color: #1616162a;
  
}
.container {  display: grid;
  grid-template-columns: 0.4fr 2.1fr 0.5fr;
  grid-template-rows: 0.7fr 1.9fr 0.4fr;
  gap: 5px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    ". header ."
    ". content ."
    ". footer .";
    height: 100vh;
    background-color: #1616162a;
}

.content { 
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, .5fr));
 grid-template-rows: 2fr; 
 overflow-y: auto; 
  /* height: max-content; */
  /* justify-content: center; */
  /* background-color: aqua; */
}
.content::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.content::-webkit-scrollbar-track {
  background: #e0e0e0; /* Background of the scrollbar track */
  border-radius: 10px;
}

.content::-webkit-scrollbar-thumb {
  background: #55575a; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.content::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Darker color when hovered */
}

.header { grid-area: header;
  /* align-content: center; */
 display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  /* grid-gap: 20px;
  padding: 20px;
  margin: 20px; */
  font-family: Jaro;
  font-style: italic;
  justify-content:end;
  /* background-color: rgb(80, 57, 130); */
  }
  .one{
    display: block;
    align-content: center;
    text-align: center;
    color: #000;
  } 
  .two {
    display: block;
    align-content: center;
    text-align: center;
    color: #000;
    
  }
  /* .home{
    height: 100vh;
  } */


  .three {
    display: block;
    text-align: center;
    color: #000;
    align-content: center;
  }

/* .footer { grid-area: footer; background-color: aquamarine; } */
.card {
	display: flex;
}


.card_container{
	display: flex;
	flex-direction: column;
	height: 1fr;
  font-family: Jaro;
}
.content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: .5fr .5fr;
	grid-gap: 20px;
	align-items: start;
  font-family: Jaro;
}
.card_container > article {
	justify-content: center;
	text-align: center;
	border: 1px solid #ccc;
	box-shadow: 2px 2px 6px 0px rgba(236, 230, 230, 0.3);
  }
  .card_container > article img {
	width: 50%;
	height: 10vh
  }


@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");





  

  


