.container {  display: grid;
  grid-template-columns: 0.4fr 2.1fr 0.5fr;
  grid-template-rows: 0.7fr 1.9fr 0.4fr;
  gap: 5px 50px;
  grid-auto-flow: row;
  grid-template-areas:
    ". header ."
    ". content ."
    ". footer .";
    height: 100vh;
}

.content { 
  grid-area: content;
  background-color: aqua;
}

.header { grid-area: header;
  /* align-content: center; */
 display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-template-rows: 1fr;
  /* grid-gap: 20px;
  padding: 20px;
  margin: 20px; */
  justify-content:end;
  background-color: rgb(80, 57, 130);
  }
  .one{
    display: block;
    align-content: center;
    text-align: center;
  } 
  .two {
    display: block;
    align-content: center;
    text-align: center;
    
  }


  .three {
    display: block;
    text-align: center;
    
    align-content: center;
  }

.footer { grid-area: footer; background-color: aquamarine; }


